<div id="user-page">
    <div id="sidebar" class="col-s-3">
      <div class="welcome">
        <h1>Hello <%= @user.username.capitalize! %>!</h1><br>
        <p>Welcome to your drum machine!<br>Click the buttons or the coresponding key to play some sweet sweet tunage.</p>
        <% if logged_in? %>
        <div class="logout">
          <%= button_to 'Logout', logout_path, :method => :delete %>
        </div>
        <% end %>
      </div>
    </div>
  <div id="drum-machine" class="container">
    <div id="buttons1" class="col-s-9">
      <form>
        <button type="button" class="btn" id="snare" value= >SNARE<br>(a)</button>
        <select id ="snares" onchange='drumstick()'><%= options_from_collection_for_select(Drum.all, 'sound_url', 'name') %></select>
      </form>
      <form>
        <button type="button" class="btn" id="kick">KICK<br> (s)</button>
        <select id="kicks" onchange='pedal()'> <%= options_from_collection_for_select(Kick.all, 'sound_url', 'name') %></select>
      </form>
      <form>
        <button type="button" class="btn" id="hat">HI-HATS<br> (k) / (l)</button>
        <select id="hats" onchange='tiss()'> <%= options_from_collection_for_select(Hat.all, 'sound_url', 'name') %></select>
      </form>
    </div>
    <div id="buttons2" class="col-s-9">
      <form>
        <button type="button" class="btn" id="tom">TOM<br>(t) / (y)</button>
        <select id= "toms" onchange='boom()'> <%= options_from_collection_for_select(Tom.all, 'sound_url', 'name') %></select>
      </form>
      <form>
        <button type="button" class="btn" id="tom2">TOM 2<br>(g) / (h)</button>
        <select id= "toms2"onchange='boom()'> <%= options_from_collection_for_select(Tom.all, 'sound_url', 'name') %></select>
      </form>
      <form>
        <button type="button" class="btn" id="bell">BELL<br>(space)</button>
        <select id="bells" onchange='ding()'> <%= options_from_collection_for_select(Bell.all, 'sound_url', 'name') %></select>
      </form>
    </div>
    <div id="buttons3" class="col-s-9">
      <form>
        <button type="button" class="btn" id="ride">RIDE 2<br>(b)</button>
        <select id= "rides"onchange='ping()'> <%= options_from_collection_for_select(Ride.all, 'sound_url', 'name') %></select>
      </form>
      <form>
        <button type="button" class="btn" id="laser">LASER<br>(v)</button>
        <select id= "lasers" onchange='blast()'> <%= options_from_collection_for_select(Laser.all, 'sound_url', 'name') %></select>
      </form>
      <form>
        <button type="button" class="btn" id="synth">SYNTH<br>LOOP <br>(p)</button>
        <select id="synths" onchange='start()'> <%= options_from_collection_for_select(Synth.all, 'sound_url', 'name') %></select>
      </form>
    </div>
    <noscript><input type="submit" value="Submit"></noscript>
  </div>


</div>
</div>
