<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MachineApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main-container" class="container">
    <% if logged_in? %>
    <div class="logout">
      <%= button_to 'Logout', logout_path, :method => :delete %>
    </div>
    <% end %>
    <div class="row">
      <div id="sidebar" class="col-xs-3">
        <!-- sidebar content -->
      </div>
      <div id="content" class="col-xs-9">
        <!--  main content -->
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
